

<div class="hero-section">
  <h1>Cutting Shapes with a Banjo Smuggler</h1>
  <%# <input type="text" placeholder="Search..."> %>
  <div class="locations">
    <button>Triangle</button>
    <button>Circle</button>
    <button>Square</button>
  </div>
</div>

<div class="container mt-4">
<div class="posts-header">
  <h1>Posts</h1>

</div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-3">
        <div class="postcard">
          <%# If you have an image associated with the post %>
          <% if post.image.attached? %>
            <%= image_tag post.image, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text">
              <%= truncate(post.body.to_plain_text, length: 100) %>
            </p>
            <%= link_to 'Read More', post_path(post), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<footer>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">

  </div>
</div>

</footer>
