<!-- app/views/posts/show.html.erb -->

<div class="post-container">
 <h1><%= @post.title %></h1>
 <% if @post.image.attached? %>
    <%= image_tag @post.image %>
  <% end %>
  <div class="post-content">
    <%= simple_format(@post.body.to_s) %>
  </div>

  <!-- Other post details here -->

  <%= link_to 'Back', posts_path %>



</div>
